.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }
     
    #admin-notifications > div.notification-list > div > div > a:not(:first-child) {
      border-top: 1px solid rgba(110,117,130,.2);
    }
    #admin-notifications > div.notification-list > div > div
     {
      max-height: 400px !important;
    }

   

    .notification-list a{
      cursor: pointer
    }

    .notification-list{
      /* max-height: 300px;
      overflow-y: hiden; */
    }


    .notification-list a:hover{
      background-color: #e3e6ec!important;;
    }

    #admin-notifications .dropdown-divider{
      margin-top: 0 !important;
    }

    .show{
      display: block;
    }

    .hide{
      display: none;
    }

    .dropdown-menu-arrow{
      padding-bottom: .5rem;
    }

    .dropdown-menu-arrow > a{
      cursor: pointer;
      padding: .25rem 1.5rem;
    }
    
    .mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }

    .infinite-scroll-component {
      max-height: 400px;
    }

    .badge-success{
        background-color: rgb(38, 114, 185) !important;
    }
    #pageDropDown{
        display: none !important;
      }
     
    .close{
        cursor: pointer;
    }

    .badge-danger{
        background-color: rgb(235, 83, 69) !important;
    }

   .react-bootstrap-table-pagination{

    --bs-gutter-x: 0rem !important;
    padding: .75rem 1.25rem;
    background-color: rgba(53,64,82,.024);
    border-top: 1px solid rgba(110,117,130,.2);
    
    display: flex;
    justify-content: flex-end;
    background-color: rgba(53,64,82,.024) !important;
    border-top: 1px solid rgba(110,117,130,.2) !important;

   }

   #root > div > div > div > div > div.box > div > div.table-responsive > div > div > div.row.react-bootstrap-table-pagination > div:nth-child(1){
       display: none !important;
   }

   .react-bootstrap-table-pagination-list{
       
    display: flex;
    justify-content: flex-end;

   }

   
   .pagination{
        
    padding-bottom: 0px !important;
    margin-block-start: 0em;
    margin-block-end: 0em;

      }


      .border-hours{
        border: 1px solid rgba(110,117,130,.2);
        border-radius: 3px;
        transition: border-color;
      }

      #app-root > div > div > div.css-1uq9ies.ExpandedQueue.relative.left-0.right-0.bottom-0.top-0.w-100.h-100.flex.flex-column > div.css-yw8dyr.ExpandedQueue--FOOTER.flex.items-center.bg-window.bg-window-c.bt.bc-window-border.justify-between > div.flex.items-center > button:nth-child(2) > span,
      #app-root > div > div > div.css-1uq9ies.ExpandedQueue.relative.left-0.right-0.bottom-0.top-0.w-100.h-100.flex.flex-column > div.css-yw8dyr.ExpandedQueue--FOOTER.flex.items-center.bg-window.bg-window-c.bt.bc-window-border.justify-between > div.flex.items-center > button.css-acnn1w.mr3.BUTTON.outline-0.flex-nowrap.items-center.justify-center.pointer.fw6.c-link.mr3{
        display: none !important;;
      }

      label{
        font-weight: 700;
      }

      .card-table tr td:last-child, .card-table tr th:last-child {
        padding-right: 1.25rem;
        width: 120px !important;
    }