.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }
     
    .mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }

    .badge-success{
        background-color: rgb(38, 114, 185) !important;
    }
    #pageDropDown{
        display: none !important;
      }
     
    .close{
        cursor: pointer;
    }

    .badge-danger{
        background-color: rgb(235, 83, 69) !important;
    }

   .react-bootstrap-table-pagination{

    --bs-gutter-x: 0rem !important;
    padding: .75rem 1.25rem;
    background-color: rgba(53,64,82,.024);
    border-top: 1px solid rgba(110,117,130,.2);
    
    display: flex;
    justify-content: flex-end;
    background-color: rgba(53,64,82,.024) !important;
    border-top: 1px solid rgba(110,117,130,.2) !important;

   }

   #root > div > div > div > div > div.box > div > div.table-responsive > div > div > div.row.react-bootstrap-table-pagination > div:nth-child(1){
       display: none !important;
   }

   .react-bootstrap-table-pagination-list{
       
    display: flex;
    justify-content: flex-end;

   }

   
   .pagination{
        
    padding-bottom: 0px !important;
    margin-block-start: 0em;
    margin-block-end: 0em;

      }


      .border-hours{
        border: 1px solid rgba(110,117,130,.2);
        border-radius: 3px;
        transition: border-color;
      }