.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }
     
    .mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }

    .badge-success{
        background-color: rgb(38, 114, 185) !important;
    }

    .badge-danger{
        background-color: rgb(235, 83, 69) !important;
    }