.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }

    .notification-list > div > div > a{
      background-color: red !important;
    }

    .marker {
        background-image: url("svg/marker.svg");
        background-size: cover;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
      }

      .pagination{
        
    padding-bottom: 0px !important;
    margin-block-start: 0em;
    margin-block-end: 0em;

      }

  #pageDropDown{
    display: none !important;
  }
  
  #app-root > div > div > div.css-1uq9ies.ExpandedQueue.relative.left-0.right-0.bottom-0.top-0.w-100.h-100.flex.flex-column > div.css-yw8dyr.ExpandedQueue--FOOTER.flex.items-center.bg-window.bg-window-c.bt.bc-window-border.justify-between > div.flex.items-center > button:nth-child(2) > span,
  #app-root > div > div > div.css-1uq9ies.ExpandedQueue.relative.left-0.right-0.bottom-0.top-0.w-100.h-100.flex.flex-column > div.css-yw8dyr.ExpandedQueue--FOOTER.flex.items-center.bg-window.bg-window-c.bt.bc-window-border.justify-between > div.flex.items-center > button.css-acnn1w.mr3.BUTTON.outline-0.flex-nowrap.items-center.justify-center.pointer.fw6.c-link.mr3{
    display: none !important;
  }


  
  label{
    font-weight: 700;
  }