.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }
     

    .marker {
        background-image: url("svg/marker.svg");
        background-size: cover;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
      }
 